{% extends 'personalgallery/base.html' %}
{% block content %} 
<div class="container-fluid search-all">
    {% include 'navbar.html'%}
    <a href="{% url 'indexpage' %}"><button class="btn btn-dark" style="height: 40px;">Go Back</button></a>
    <div class="row search-content">
        {% if places %}
        <h4>Found {{places|length}} of {{message}} category</h4>
        {% else %}
        <h4>Found 0 images of the {{message}} category</h4>
        {%endif%}
    </div>
    <div class="row search-img">
        {% if places %}
        {% for place in places %}
        <div class="col-md-4 image-card">
            <img src="{{ place.image.url }}" alt="{{ place.description }}" class="img-responsive">
        </div>
        {% endfor %} 
        {% endif %}      

    </div>
</div>

{% endblock %}