@import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@500&display=swap');
/* @import url(https://fonts.googleapis.com/css2?family=Crimson+Pro&display=swap); */

h1{
    color: green;
}
.image-card{
    margin-top:10px;
}
.image-card a img{
    height: 250px;
    width: 100%;
    object-fit: cover;
}
.search-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 10px;
}
#indexpageimage a{
    font-size: 16px;
    text-align: right;
    justify-content: right;
    align-items: flex-end;
    color: white;
}


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Newsreader', serif;
}
#oneimagepage{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 30px;
}
#indexpageimage{
    background-image: url("../images/sami-boudjelti-Wx3c74Xah-Y-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#indexoneimage{
    display: none;
}


body {
    background-color: #FCFF33;
}
img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 4px;
    width: 250px;
    opacity: 1;
  }
  
  img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }
  