@import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@500&display=swap');
h1{
    color: green;
}



*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Newsreader', serif;
}