@import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@500&display=swap');
h1{
    color: green;
}
.image-card{
    margin-top:10px;
}
.image-card a img{
    height: 250px;
    width: 100%;
    object-fit: cover;
}
.search-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 10px;
}



*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Newsreader', serif;
}